
.PO{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgb(0,0, 0), rgb(179, 17, 219));
    background-size: cover;
    background-position: center ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
   color: rgb(165, 54, 91);
   font-size: 35px;
   letter-spacing: 1px;
   cursor: pointer; 
}
span{
    color: aqua;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(228, 120, 156);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a hover{
    color: red;
    transition: .4s;
}
.content{
    position: absolute;
    top: 70%;
    left: 8%;
    transform: translateY(-50%);
}
h2{
    color:bisque;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h3{
   color:beige;
   font-size: 25px;
   margin-bottom: 50px; 
}
h4{
    color: bisque;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background:linear-gradient(to right, rgb(0,0, 0), rgb(179, 17, 219)); ;
}
.about img{
    height:auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:rgb(228, 120, 156);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: beige;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.skill h2{
    color:rgb(165, 54, 91);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 100px;
}
.skill ul{
    color: beige;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 90px;
}
.skill{
    width: 1130px;
    max-width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.main img {
    width: 500px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.pic img{
    position: absolute;
    left: 120%;
    border-radius: 100px;
    transform: translateY(-90%);
}
.con{
    margin: 0 auto; 
}
.con h3{
    margin-left: 110px;
    color:rgb(241, 130, 167);
}
.icons h4{
    margin-left: 100px;
}
.icons p{
    color:rgb(241, 130, 167);
}
.A{
    width: 100%;
    padding: 100px 0px;
    background:linear-gradient(to right, rgb(0,0, 0), rgb(179, 17, 219));
}